@mixin flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

:root {
  --light-img: url("./assets/paper-50vw.jpg");
  --dark-img: url("./assets/carbon-50vw.jpg");
  --color4: #f58a07;
}

@media (prefers-color-scheme: light) {
  :root {
    --color1: #181b0e;
    --color2: #fbc789;
    --color3: #fefcfb;
    --color5: #feecd8;
    --background-img: var(--light-img);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color1: #fefcfb;
    --color2: #131317;
    --color3: #292A2F;
    --color5: #202025;
    --background-img: var(--dark-img);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--color1);
}

html {
  font-size: 120%;
  text-rendering: optimizeLegibility;
}

#root {
  @include flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: fixed var(--color5) var(--background-img);
}

.divider {
  height: 1px;
  margin: 1vh auto;
  background-color: var(--color1);

  &.medium {
    width: 50%;
  }

  &.big {
    width: 90%;
  }
}

// NAV ////////////////////////////////////////////////////////
nav {
  position: fixed;
  top: -62px;
  width: 100%;
  z-index: 3;
  background-color: var(--color5);
  transition: top 0.4s;
  border-bottom: 3px solid var(--color1);

  &.active {
    top: 0;
  }

  .nav-wrapper-wrapper {
    @include flex;
    justify-content: space-between;
    flex-direction: row;
    height: 59px;
    color: var(--color3);
    background-color: var(--color5);


    .nav-wrapper {
      padding: 7px;

      &.right {
        @include flex;

        ul {
          height: 40px;
          margin: 0 2px;
          fill: var(--color1);
          background-color: var(--color2);
          cursor: pointer;
          list-style: none;

          li {
            padding: 3px 12px;
            border: 1px solid var(--color1);
            background-color: var(--color2);

            &.inactive {
              display: none;
            }

            &.top {
              height: 40px;
              padding: 0;
              margin: 0 auto;

              svg {
                height: 30px;
                margin: 4px;
              }
            }

            &:hover {
              fill: var(--color1);
              color: var(--color1);
              background-color: var(--color4);
              border: 1px solid var(--color1);
            }
          }


        }

        button {
          width: 40px;
          height: 40px;
          border: 1px solid var(--color1);
          margin: 0 2px;
          background-color: var(--color2);
          cursor: pointer;

          &:hover {
            background-color: var(--color4);
            border: 1px solid var(--color1);
          }

          .svg {
            width: 40px;
            height: 40px;
            padding: 7px;
          }
        }
      }

      &.left {
        @include flex;

        // Custom hamburger button /////
        .hamburger {
          @include flex;
          justify-content: center;
          flex-direction: column;
          width: 50px;
          height: 50px;
          margin: 2px;
          cursor: pointer;

          &.active .hamburger-top {
            transform: translate3d(0px, 16px, 0px) scale3d(1, 1, 1) rotateZ(45deg);
            transform-style: preserve-3d;
            transition: 0.4s ease;
          }

          &.active .hamburger-middle {
            opacity: 0;
            transition: 0.4s ease;
          }

          &.active .hamburger-bottom {
            transform: translate3d(0px, -16px, 0px) scale3d(1, 1, 1) rotateZ(-45deg);
            transform-style: preserve-3d;
            transition: 0.4s ease;
          }
        }

        .hamburger-middle {
          margin: 15px 0;
        }

        .hamburger-top,
        .hamburger-middle,
        .hamburger-bottom {
          width: 50px;
          height: 1px;
          background-color: var(--color1);
          transition: 0.4s ease;
        }

        .logo {
          width: 50px;
          height: 50px;
          margin: 2px;
          background-color: #fefcfb;
          border: 1px solid var(--color1);
          text-align: center;

          img {
            height: 50px;
            padding: 3px;
          }
        }
      }
    }
  }



  // dropdown nav list /////
  .nav-list-wrapper {
    position: relative;

    .nav-list {
      position: absolute;
      top: -7.2em;
      z-index: -1;
      width: 100%;
      border-bottom: 3px solid var(--color1);
      box-shadow: 0 3px 10px black;
      list-style: none;
      transition: top 0.4s ease;

      &.active {
        top: 0;
        transition: top 0.4s ease;
      }

      li {
        height: 1.8em;
        padding: 5px;
        text-align: center;
        background-color: var(--color2);
        cursor: pointer;
        transition: background-color 0.4s ease;

        &:nth-child(even) {
          background-color: var(--color5);
        }

        &:hover {
          color: var(--color5);
          background-color: var(--color1);
        }
      }
    }
  }
}

// HEADER ////////////////////////////////////////////////////////
header {
  @include flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: var(--color1);
  fill: var(--color1);
  text-align: center;

  h1,
  h2 {
    max-width: 90%;
    margin: 15vh auto;
    animation: breath 10s ease 1.5s infinite;
  }

  span {
    display: inline-block;
    font-family: "Caveat", cursive;
    font-size: 1.2em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0 7px 0 0;
    background-color: var(--color4);
    box-shadow: 0 0 12px var(--color3);
    animation: open 1.5s ease-in-out;
  }
}

@keyframes open {
  0% {
    width: 0;
  }

  100% {
    width: 92px;
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

// INTRO ////////////////////////////////////////////////////////
#intro {
  width: 100%;
  padding-top: 10vh;
  background-image: linear-gradient(transparent, var(--color3) 15%);

  .intro-content-wrapper {
    height: 80%;
    max-width: 1080px;
    margin: 10vh auto;
    text-align: center;
    opacity: 1;
    transition: 0.2s linear;

    &.invisible {
      opacity: 0;
      transition: 0.2s linear;
    }

    .text-wrapper {
      padding: 5vh 0;
    }

    p {
      margin: 15px;
      text-align: left;
    }

    h2 {
      padding: 0 15px;
      text-align: left;
    }

    h2,
    h3 {
      margin: 1vh auto;
    }

    blockquote {
      width: 70%;
      padding: 6vh 2vw;
      margin: 0 auto;
      font-family: "Caveat", cursive;
      font-size: 2em;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      text-shadow: 1px 1px 2px black;

      .quote {
        text-align: left;
      }

      div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .author {
          display: inline-block;
          margin-right: 1em;
        }

        .picture {
          display: inline-block;
          width: 2em;
          border: 3px solid black;
          box-shadow: 0 0 10px black;
        }
      }
    }

    #skills-intro {
      padding: 5vh 0;
    }

    .lists-wrapper {
      @include flex;
      flex-flow: column nowrap;
      width: 100%;
      padding-bottom: 7vh;

      .list {
        width: 90vw;
        border: 3px solid var(--color1);
        box-shadow: 0 0 10px black;
        margin: 2vh 0;
        background-color: var(--color5);

        .skills-title {
          padding: 1vh 1vw;
          border-bottom: 1px solid var(--color1);
          margin: 0;
          background-color: var(--color4);
        }

        li {
          list-style: none;
          line-height: 2em;

          &:nth-child(odd) {
            background-color: var(--color2);
          }
        }
      }
    }
  }
}

// PROJECTS ////////////////////////////////////////////////////////
#projects {
  width: 100%;
  text-align: center;

  .grey {
    background-color: var(--color3);
  }

  h2.grey {
    padding-bottom: 2vh;
  }

  div.grey {
    padding-top: 1vh;
  }

  .projects-wrapper-wrapper {
    border-top: 3px solid var(--color1);
    border-bottom: 3px solid var(--color1);

    .projects-wrapper {
      @include flex;
      justify-content: flex-start;
      flex-flow: row nowrap;
      overflow-x: auto;
      margin: 1vh auto;
      opacity: 0;
      transition: 0.2s linear;

      &.visible {
        opacity: 1;
        transition: 0.2s linear;
      }

      .project {
        min-width: 260px;
        min-height: 380px;
        border: 2px solid var(--color1);
        border-radius: 12px;
        box-shadow: 0 0 10px black;
        margin: 15px 15px 5vh 15px;
        overflow: hidden;

        a {
          position: relative;
          text-decoration: none;

          .project-img-wrapper {
            width: 260px;
            height: 347px;
            overflow: hidden;
          }

          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            filter: saturate(130%);
          }

          figcaption {
            max-width: 260px;
            border-top: 1px solid var(--color1);
            line-height: 33px;
            text-align: center;
            color: var(--color1);
            background-color: var(--color2);
          }
        }

        &:hover {
          transform: scale(1.05);
          transition: 0.4s ease-in;

          img {
            transform: scale(1.05);
            transition: 0.4s ease-in;
          }

          figcaption {
            background-color: var(--color4);
          }
        }
      }
    }
  }

  #disclaimer {
    margin-top: 0;
    font-size: 0.9em;
  }

  #top-info {
    padding: 1vh 0;
    margin: 1vh 0 0 1vw;
    font-size: 0.9em;
    text-align: left;
    opacity: 0;
    transition: 0.2s linear;

    &.visible {
      opacity: 1;
      transition: 0.2s linear;
    }
  }

  p {
    padding: 2vh 0;
    margin: 0 auto;
    text-align: center;

    a {
      color: var(--color4);
    }
  }

  .transition {
    margin-top: 3em;
  }
}

// CONTACT ////////////////////////////////////////////////////////
#contact {
  position: relative;
  width: 100%;
  min-height: 450px;
  height: 70vh;
  background-image: linear-gradient(var(--color3) 30%, var(--color2) 70%);
  text-align: center;


  .form-wrapper {
    position: absolute;
    top: 1vh;
    right: 1vw;
    bottom: 1vh;
    left: 1vw;
    z-index: 2;
    max-width: 1080px;
    margin: 8vh auto 0 auto;
    opacity: 0;
    transition: 0.2s linear;

    &.visible {
      opacity: 1;
      transition: 0.2s linear;
    }

    h2 {
      text-align: center;
      padding-bottom: 3px;

      span {
        font-size: 0.5em;
      }
    }

    form {
      @include flex;
      flex-direction: column;
      padding: 1vh 1vw;
      border: 3px solid var(--color1);
      box-shadow: 0 0 4px black;
      background-color: var(--color5);

      * {
        width: 90%;
      }

      label {
        padding-top: 1vh;
      }

      input,
      textarea {
        padding: 3px;
        border: 1px solid var(--color1);
        color: #141414;
        background-color: white;
        font-size: 1em;
        line-height: 1.2em;
        word-wrap: break-word;
        resize: none;
      }

      .submit {
        padding: 8px;
        border: 1px solid var(--color1);
        margin: 1vh 1vw;
        background-color: var(--color4);
        cursor: pointer;

        &:hover {
          color: var(--color1);
          background-color: var(--color2);
        }
      }
    }
  }
}


// FOOTER ////////////////////////////////////////////////////////
footer {
  @include flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 3vh 3vw;
  background-color: var(--color2);

  p {
    margin: 2vh auto;
    text-align: center;
  }

  .ref-wrapper {
    @include flex;
    justify-content: center;
    flex-direction: column;

    .ref-logo {
      width: 12vw;
      max-width: 50px;
      height: auto;
      margin: 1vh 1vw;
      fill: var(--color1);

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// MEDIA QUERIES ////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up) /////
@media (min-width: 768px) {

  // NAV /////
  nav {
    .nav-wrapper-wrapper {
      .nav-wrapper.right {
        ul {
          height: 50px;

          li {
            &.top {
              height: 50px;

              svg {
                height: 34px;
                margin: 8px;
              }
            }
          }
        }

        button {
          width: 50px;
          height: 50px;

          .svg {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  // INTRO /////
  @keyframes breath {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  #intro {
    .intro-content-wrapper {
      .lists-wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;

        .list {
          max-width: 45%;
          margin: 0 3vh;
        }
      }
    }
  }

  // FOOTER /////
  footer {
    flex-direction: row;
    justify-content: center;
    padding: 3vh 0;
    font-size: 60%;

    p {
      line-height: 30px;
    }

    .ref-wrapper {
      flex-direction: row;

      .ref-logo {
        max-width: 30px;
      }
    }
  }
}

// Large devices (desktops, 992px and up) //////
@media (min-width: 992px) {
  footer {
    font-size: 70%;

    p {
      line-height: 35px;
    }

    .ref-wrapper {
      .ref-logo {
        max-width: 35px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up) /////
@media (min-width: 1200px) {
  #intro {
    .intro-content-wrapper {
      blockquote {
        padding: 3vh 2vw 6vh 2vw;
        margin-top: 3vh;
        min-height: 335px;
        background: no-repeat var(--color3) url(./assets/splash.png);
      }
    }
  }

  footer {
    font-size: 80%;

    p {
      line-height: 40px;
    }

    .ref-wrapper {
      .ref-logo {
        max-width: 40px;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up) /////
@media (min-width: 1448px) {
  #projects {
    .projects-wrapper-wrapper {
      .projects-wrapper {
        justify-content: center;

        .project {
          min-width: 18vw;

          a {
            .project-img-wrapper {
              width: 18vw;
            }

            figcaption {
              max-width: 18vw;
            }
          }
        }
      }
    }
  }
}

// TO DO:
// Small devices (landscape phones, 576px and up) => landscape phones (very wide, not very tall)
// @media (min-width: 576px) {}
// XXX-Large devices => very big screens
// @media (min-width: 1921px) {}